@import '../styles/mixins';
@import '../styles/variables';

$hover-color: #5f6062;
$odd-color: #e6e6e6;
$even-color: #f7f7f7;
$even-row-color: $odd-color;

.smallNote {
  color: #6a6a6a;
  font-size: 12px;
  line-height: 14px;
  display: block;
  span {
    padding: 12px 6px;
  }
  p {
    margin-bottom: 0;
  }
}

.table-cross-links {
  margin-top: 10px;

  div.atlas {
    background-color: $color-atlas-dark;
    float: left;
    margin-right: 4px;
    margin-left: 5px;
    padding: 1px;
    font-size: 11px;
    width: 19px;

    &:after {
      content: 'a';
      color: #fff;
      padding: 5px;
    }
  }

  div.forecast {
    background-color: $color-forecast;
    float: left;
    margin-right: 4px;
    margin-left: 5px;
    padding: 1px;
    font-size: 11px;
    width: 19px;

    &:after {
      content: 'f';
      color: #fff;
      padding: 5px;
    }
  }

  div.economy {
    background-color: $color-economy-dark;
    float: left;
    margin-right: 4px;
    margin-left: 5px;
    padding: 1px;
    font-size: 11px;
    width: 19px;

    &:after {
      content: 'e';
      color: #fff;
      padding: 5px;
    }
  }
}

.table-actions {
  position: absolute;
  top: 14px;
  right: 12px;

  .table-reset {
    display: inline-block;
    bottom: 5px;
    right: 10px;
    padding: 0 0 0 5px;
    border: none;
    line-height: 25px;
    cursor: pointer;
    background-color: #dddddd;
    display: inline-flex;

    .icon-reset {
      line-height: 25px;
      width: 24px;
      display: block;
      float: right;
      margin-left: 5px;
      color: #fff;
      @include theme {
        background: nth($product_colours, $index);
      }
    }
  }

  .table-export {
    display: inline-block;
    bottom: 5px;
    right: 10px;
    padding: 0 0 0 5px;
    border: none;
    cursor: pointer;
    background-color: #dddddd;

    .dropdown {
      padding: 0;
      border: none;
      line-height: 25px;
      font-size: 14px;
      display: inline-flex;
    }

    .icon-share {
      line-height: 25px;
      width: 24px;
      display: block;
      float: right;
      margin-left: 5px;
      color: #fff;
      @include theme {
        background: nth($product_colours, $index);
      }
    }

    .dropdown-toggle {
      color: #fff;
      @include theme {
        background-color: nth($product_colours, $index);
        border-color: nth($product_colours, $index);
      }
    }

    &.dropdown {
      height: 26px;
      display: inline-block;

      .dropdown-menu {
        min-width: 200px;
        max-height: 500px;
        overflow-y: auto;
        li {
          a {
            line-height: 1.2;
          }

          &.group-heading {
            margin-top: 10px;
            border-top: 1px solid #f5f5f5;

            a,
            span {
              padding: 3px 10px;
              display: block;
              clear: both;
              font-weight: bold;
              pointer-events: none;
              cursor: default;
              color: $gray;
            }
            &:first-child {
              margin-top: 0;
              border: none;
              margin-top: initial;
            }
          }

          &.topic {
            line-height: 1.2;
            font-size: 14px;
            &.selected {
              a {
                color: #fff;
                &:hover {
                  @include theme {
                    background: nth($product_colours, $index);
                  }
                }
              }
              @include theme {
                background: nth($product_colours, $index);
              }
            }
          }
        }
      }
    }
  }
}
.showMore {
  line-height: 30px;
  background-color: dimgrey;
  color: #fff;
  text-align: center;

  &:hover {
    background-color: rgb(65, 65, 65);
    cursor: pointer;
  }
}

.entity-table {
  width: 100%;

  th,
  td {
    padding: 4px 10px;
    border: none;
    color: #5f6062;
    font-size: 12px;
  }

  tr {
    &.even {
      background-color: $even-row-color;
    }
  }

  thead {
    tr {
      border-bottom: 1px solid #5f6062;

      &.heading {
        th {
          font-weight: normal;
          font-size: 21px;
          text-align: center;
          vertical-align: middle;
          padding: 10px 0;
        }
      }

      th {
        line-height: normal;
        vertical-align: bottom;
        text-align: right;

        &.subheading {
          background-color: $even-color;
          text-align: center;
          min-width: 150px;
        }

        &.sub {
          font-size: 12px;
          color: $color-economy-dark;
          min-width: 100px;
        }

        &.int {
          text-align: right;
          width: 70px;
          min-width: 70px;
          max-width: 70px;
          padding-right: 14px;
        }
        &.first {
          text-align: left;
          height: 40px;
          padding-left: 10px;
        }

        &.even {
          background-color: $even-color;
          background-clip: padding-box;

          &.sml {
            font-size: 12px;
          }
        }

        &.table-title {
          color: $color-economy-dark;
          font-size: 12px;
          font-weight: 400;
          padding-left: 8px;
          text-align: left;
          vertical-align: middle;
          height: 46px;
        }

        &.table-area-name {
          color: $color-economy-dark;
          font-size: 20px;
          line-height: 36px;
          font-weight: normal;
          text-align: left;
          padding: 10px 190px 10px 10px;
        }

        &.sortable {
          padding-right: 18px;
          position: relative;
          cursor: pointer;

          &:before,
          &:after {
            border: 4px solid transparent;
            content: '';
            display: block;
            height: 0;
            right: 5px;
            top: 75%;
            position: absolute;
            width: 0;
          }

          &:after {
            border-bottom-color: #666;
            margin-top: -9px;
          }

          &:before {
            border-top-color: #666;
            margin-top: 1px;
          }

          &.asc {
            &:before {
              opacity: 0.4;
            }
          }

          &.desc {
            &:after {
              opacity: 0.4;
            }
          }
        }
      }

      td {
        &.int {
          text-align: right;
          width: 70px;
          padding-right: 14px;
        }
      }
    }
  }

  tbody {
    td {
      &.int {
        text-align: right;
        width: 70px;
        min-width: 70px;
        max-width: 70px;
        padding-right: 14px;
      }
      &.XS {
        width: 70px;
      }
      &.S {
        width: 80px;
      }
      &.M {
        width: 90px;
      }
      &.L {
        width: 90px;
      }
      &.XL {
        width: 100px;
      }
      &.XXL {
        width: 110px;
      }
      &.XXXL {
        width: 120px;
      }
    }

    tr {
      &.odd {
        td {
          &.even {
            background-color: $even-color;
          }
        }
      }

      &.child {
        border-bottom: 1px solid #fff;
        td,
        th {
          background-color: #e6f4ec !important;
          padding-left: 10px;
          &:first-child {
            &:before {
              content: '-';
              padding-right: 10px;
            }
          }
        }

        &:hover {
          td,
          th {
            background-color: $hover-color !important;
          }
        }
      }

      &:hover {
        td,
        th {
          background-color: $hover-color;
          color: white;

          &.even {
            background-color: $hover-color;
          }
        }
      }

      td {
        border-right: dashed 1px #999;
        line-height: 16px;
        text-align: right;
        &.first {
          text-align: left;
        }
        &:last-child {
          border-right: none;
        }
      }
    }
  }

  tfoot {
    tr {
      td {
        padding: 8px 10px;
        border-right: dashed 1px #999;
        background-color: gray;
        color: #fff;
        text-align: right;

        &:first-child {
          text-align: left;
        }

        &:last-child {
          border-right: none;
        }
      }
    }
  }
}
